*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}
body
{
    background-color: aqua;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.one
{
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.one:hover .bigtwo{
top: 23%;
}
.minione img
{
    width: 100%;
    height: 100%;
    /* margin-top: 2.5rem; */

}
.minione
{
    width: 200px;
    height: 200px;
    margin: 2rem auto;
    display: flex;
    justify-content: center;
    align-items: center;

}
.two {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 21px;
}
.bigtwo
{
    height: 5rem;
    width: 100%;
    position: absolute;
    top: 85%;
    background-color: rgb(255, 255, 255);
    transition: all 1s ease-in;
}
.two h2
{
    font-size: 30px;
    font-weight: 900;
}
.two h3 {
    font-size: 22px;
}
.three
{
    background-color: white;
}
.four
{
    background-color: white;
}
.but
{
    background-color: white;
}
.three h2 {
    font-weight: 300; 
    margin: 7px 20px;
}
.three p {
    margin-left: 20px;
    font-size: 21px;
    font-weight: 900;
}
.four p {
    font-size: 22px;
    margin-left: 18px;
}
.five
{
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 5px 20px;
}
.five1
{
    width: 19px;
    height: 18px;
    background-color: blue;
}
.five2
{
    width: 19px;
    height: 18px;
    background-color: brown;
}
.five3
{
    width: 19px;
    height: 18px;
    background-color: red;
}
.five4
{
    width: 19px;
    height: 18px;
    background-color: yellow;
}
.five5
{
    width: 19px;
    height: 18px;
    background-color: green;
}
button {
    width: 260px;
    text-align: center;
    margin-left: 20px;
    font-size: 22px;
    background: black;
    color: white;
    border-radius: 10px;
}